:root {
    --color-primary: #C7963A; /* Gold Bronze */
    --color-secondary: #3A3323; /* Dark Olive Green */
    --color-accent: #5F6841; /* Darker Green for Navbar */
    --color-text: #3A3323;
    --color-background: #F3E9D2; /* Oatmeal Beige */
    --color-light-text: #666666; /* Keeping this as a general light text color */
    --color-point-accent: #7A5D35; /* Dessert Brown for button hover */
    --color-header-text: #FFFFFF; /* White text for header and nav links */
}

header {
    background-color: var(--color-accent);
    color: var(--color-header-text);
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-accent);
    padding: 0.5em 0;
}

table th {
    background-color: var(--color-background);
    color: var(--color-text);
}

.chart-container {
    width: 80%;
    margin: 20px auto;
}

.navbar-logo {
    height: 60px; /* 50% larger */
    width: auto;
}

.navbar-custom-bg {
    background-color: var(--color-accent) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 12px; /* Adjusted menu spacing */
}

.container {
    border-radius: 12px; /* Increased card rounding */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08); /* Slightly reduced shadow */
}

.btn:hover {
    background-color: var(--color-point-accent);
}

.tab-buttons {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-primary);
}

.tab-button {
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 5px;
}

.tab-button:hover {
    background-color: var(--color-primary);
    color: var(--color-header-text);
}

.tab-button.active {
    background-color: var(--color-primary);
    color: var(--color-header-text);
    border-bottom: 2px solid var(--color-primary);
}

.tab-content {
    padding: 20px;
    border: 1px solid var(--color-background);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
}
